Library/
Temp/
UserSettings/
Logs/
obj/
Assets/GameDevHQ/FileBase/Projects/Tutorials/Starter_Files/Input_System_Starter_File/3D/Environments/Urban/Highrise_26/Tex/Brick Walls/Wall_Wall_24_Mat_AlbedoTransparency.png.meta
Assets/GameDevHQ/FileBase/Projects/Tutorials/Starter_Files/Input_System_Starter_File/3D/Environments/Urban/Highrise_26/Tex/Brick Walls/Wall_Wall_24_Mat_MetallicSmoothness.png.meta
Assets/GameDevHQ/FileBase/Projects/Tutorials/Starter_Files/Input_System_Starter_File/3D/Environments/Urban/Highrise_38/Tex/Brick Walls/Wall_Wall_26_Mat_AlbedoTransparency.png.meta
Assets/GameDevHQ/FileBase/Projects/Tutorials/Starter_Files/Input_System_Starter_File/3D/Environments/Urban/Highrise_38/Tex/Brick Walls/Wall_Wall_26_Mat_MetallicSmoothness.png.meta
